<a href="https://colab.research.google.com/github/linhsuan519/hello-colab/blob/main/Task_07_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

練習：請將給定的原始資料計算出「每一個 Team」對應「每一個 Year」出現的次數：

In [2]:
import numpy as np
import pandas as pd

ipl_data = {
    'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
    'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
    'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
    'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
    'Points':[876,789,863,673,741,812,756,788,694,701,804,690]
}
df = pd.DataFrame(ipl_data)
count_data = df.pivot_table(index='Year', columns='Team', values='Rank', aggfunc={'Rank':'count'})
print(count_data)

Team  Devils  Kings  Riders  Royals  kings
Year
2014     1.0    1.0     1.0     1.0    NaN
2015     1.0    NaN     1.0     1.0    1.0
2016     NaN    1.0     1.0     NaN    NaN
2017     NaN    1.0     1.0     NaN    NaN